body{
	display: none;
}
#jpreOverlay {
	background-image: url("../img/bg-01.svg");
	background-size: 140% auto;
	background-position: center;
}
#jpreSlide{
}

#jpreLoader{
	width: 100%;
	height: 5px;
	top: 0;
}
#jpreBar {
	background-color: #730082;
}
#jprePercentage {
	display: none;
}

#jpreButton{
	display: none;
}