@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-family: helvetica, "LiHei Pro", "Heiti TC", "微軟正黑體";
  overflow: hidden;
  background-image: url("../img/bg-01.svg");
  background-repeat: no-repeat;
  background-color: #000;
  background-size: 130% auto;
  background-position: center;
  background-attachment: fixed;
}

.nav {
  position: fixed;
  right: 10px;
  z-index: 50;
  text-align: center;
}
.nav .sub-nav {
  position: relative;
  overflow: hidden;
  margin: -7px 0;
  padding: 0;
  height: 135px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.nav .sub-nav.fade {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0;
}
.nav li {
  width: 40px;
  height: 40px;
  margin: 15px auto;
  line-height: 40px;
  background: #fff;
  cursor: pointer;
  position: relative;
  color: #f0704b;
  font-size: 22px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.nav li a {
  color: #f0704b;
}
.nav li.active {
  background: #FFF652;
}
.nav li.sub {
  width: 15px;
  height: 15px;
  position: relative;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav li.sub a {
  width: 100%;
  height: 100%;
  display: block;
}

.section {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}
.section .title {
  position: relative;
  top: 15%;
}
.section .title h1 {
  font-size: 50px;
  line-height: 75px;
}
.section .title h3 {
  font-size: 30px;
}
.section .more {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: auto;
  border: 3px #fff solid;
  font-size: 30px;
  position: relative;
  top: 60%;
  opacity: 0;
  cursor: pointer;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-transition-delay: 4s;
  -o-transition-delay: 4s;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.section .more.slide {
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-transition-delay: 4s;
  -o-transition-delay: 4s;
  -webkit-transition-delay: 4s;
  transition-delay: 4s;
  opacity: 1;
}
.section.section-01 {
  color: #fff;
}
.section.section-02 {
  color: #fff;
}
.section.section-02 .title {
  text-align: left;
  width: 30%;
  position: relative;
  left: 65%;
  top: 40%;
  line-height: 45px;
}
.section.section-03 {
  color: #fff;
}
.section.section-03 .title {
  text-align: left;
  width: 20%;
  position: relative;
  left: 75%;
  top: 40%;
  line-height: 45px;
}
.section.section-05 {
  color: #fff;
}
.section.section-05 .title {
  top: 100%;
}
.section.section-05 .title.slide {
  -moz-animation: slist00 0.7s 2.6s 1 forwards ease-out;
  -webkit-animation: slist00 0.7s 2.6s 1 forwards ease-out;
  animation: slist00 0.7s 2.6s 1 forwards ease-out;
}
@-moz-keyframes slist00 {
  0% {
    top: 100%;
  }
  100% {
    top: 55%;
  }
}
@-webkit-keyframes slist00 {
  0% {
    top: 100%;
  }
  100% {
    top: 55%;
  }
}
@keyframes slist00 {
  0% {
    top: 100%;
  }
  100% {
    top: 55%;
  }
}
.section.section-06 {
  background: rgba(255, 255, 255, 0.8);
}
.section.section-06 .says {
  text-align: center;
  margin-top: 10%;
}
.section.section-06 .says li {
  display: inline-block;
  width: 300px;
  margin: 30px;
  vertical-align: top;
}
.section.section-06 .says li .prt {
  width: 250px;
  height: 250px;
  background: #56638D;
  display: block;
  margin: 20px auto;
  background-size: cover;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.section.section-06 .says li h3 {
  font-size: 18px;
  line-height: 35px;
  color: #56638D;
}
.section.section-06 .says li h4 {
  font-size: 13px;
  color: #666;
}
.section.section-06 .says li .quote {
  font-family: georgia;
  font-size: 30px;
  line-height: 40px;
}
.section.section-06 .says li .quote:before {
  content: "“";
  color: #999;
  font-size: 50px;
  font-size: 40px;
}
.section.section-06 .says li .quote:after {
  content: "”";
  color: #999;
  font-size: 50px;
  font-size: 40px;
}
.section.section-07 .contact {
  background: #fff;
  width: 450px;
  padding: 15px;
  position: relative;
  margin: auto;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.section.section-07 .contact h1 {
  line-height: 100px;
  color: #f0704b;
  border-bottom: 1px #ccc solid;
}
.section.section-07 .contact ul {
  width: 300px;
  margin: 30px auto;
  text-align: left;
}
.section.section-07 .contact ul li {
  font-size: 19px;
  line-height: 35px;
}
.section.section-07 .contact ul li i {
  color: #2ebd59;
}

.phone {
  width: 250px;
  height: 514px;
  position: fixed;
  z-index: 5;
  left: 50%;
  top: 40%;
  margin-left: -125px;
  text-align: center;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.phone:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #5BCFC9;
  top: 205px;
  left: 75px;
  opacity: 0.6;
  cursor: pointer;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: ani01 1s 0s infinite;
  -webkit-animation: ani01 1s 0s infinite;
  animation: ani01 1s 0s infinite;
}
@-moz-keyframes ani01 {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  40% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
}
@-webkit-keyframes ani01 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  40% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
}
@keyframes ani01 {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
  40% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.4;
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.6;
  }
}
.phone:after {
  content: "AD";
  position: absolute;
  width: 215px;
  height: 380px;
  top: 67px;
  left: 17px;
  text-align: center;
  line-height: 380px;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
}
.phone.sc-02 {
  width: 300px;
  height: 617px;
  top: 50%;
  margin-left: -150px;
  margin-top: -308px;
}
.phone.sc-02:after {
  width: 258px;
  height: 456px;
  top: 81px;
  left: 21px;
  line-height: 456px;
  opacity: 0;
}
.phone.sc-03 {
  width: 600px;
  height: 1234px;
  top: 0;
  margin-left: -300px;
  margin-top: 0px;
}
.phone.sc-03:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-size: 100%;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-image: url("../img/phone-app.svg");
  background-repeat: no-repeat;
  -moz-animation: apps01 0.5s 1.8s 1 forwards;
  -webkit-animation: apps01 0.5s 1.8s 1 forwards;
  animation: apps01 0.5s 1.8s 1 forwards;
}
@-moz-keyframes apps01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes apps01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apps01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.phone.sc-03:before {
  position: absolute;
  width: 90px;
  height: 90px;
  content: "";
  background-size: 90px 90px;
  background-position: center;
  z-index: 5;
  top: 500px;
  left: 316px;
  opacity: 0;
  background-image: url("../img/app-icon.svg");
  background-repeat: no-repeat;
  -moz-animation: apps02 0.5s 2.4s 1 forwards ease-out;
  -webkit-animation: apps02 0.5s 2.4s 1 forwards ease-out;
  animation: apps02 0.5s 2.4s 1 forwards ease-out;
}
@-moz-keyframes apps02 {
  0% {
    opacity: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-border-radius: 14px;
    border-radius: 14px;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes apps02 {
  0% {
    opacity: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes apps02 {
  0% {
    opacity: 0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.phone .game {
  opacity: 0;
  width: 215px;
  height: 380px;
  margin: 67px 0 0 17px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.phone .game.show {
  opacity: 1;
  width: 258px;
  height: 456px;
  position: relative;
  overflow: hidden;
  margin: 81px 0 0 21px;
  background: url(../img/ani.gif) 0 0 no-repeat;
  background-size: cover;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.phone .game.show:after {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 450px;
  top: 0;
  left: 0;
  content: "";
  background-size: cover;
  background-image: url("../img/store.jpg");
  background-repeat: no-repeat;
  -moz-transform: translateX(1000px);
  -ms-transform: translateX(1000px);
  -webkit-transform: translateX(1000px);
  transform: translateX(1000px);
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.phone .game.store {
  width: 516px;
  height: 915px;
  margin: 160px 0 0 42px;
}
.phone .game.store:after {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.phone .game.store:before {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
  content: "";
  background: #0581ff;
  top: 273px;
  right: 45px;
  opacity: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: click01 0.6s 1s 1 forwards;
  -webkit-animation: click01 0.6s 1s 1 forwards;
  animation: click01 0.6s 1s 1 forwards;
}
@-moz-keyframes click01 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(15);
    transform: scale(15);
  }
}
@-webkit-keyframes click01 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(15);
    transform: scale(15);
  }
}
@keyframes click01 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(15);
    -ms-transform: scale(15);
    -webkit-transform: scale(15);
    transform: scale(15);
  }
}
.phones {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 15;
  overflow: hidden;
  display: none;
  white-space: nowrap;
}
.phones ul {
  text-align: center;
  position: absolute;
  font-size: 0;
  left: 50%;
  margin-left: -9000px;
}
.phones ul.list {
  -moz-animation: plist01 2.5s 0s 1 forwards ease-out;
  -webkit-animation: plist01 2.5s 0s 1 forwards ease-out;
  animation: plist01 2.5s 0s 1 forwards ease-out;
}
@-moz-keyframes plist01 {
  0% {
    top: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: -100%;
    -moz-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes plist01 {
  0% {
    top: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: -100%;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes plist01 {
  0% {
    top: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    top: -100%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
.phones ul.list li {
  opacity: 1 !important;
}
.phones ul:nth-of-type(2) {
  top: 100%;
}
.phones ul:nth-of-type(2).list {
  -moz-animation: plist02 2.5s 0.4s 1 forwards ease-out;
  -webkit-animation: plist02 2.5s 0.4s 1 forwards ease-out;
  animation: plist02 2.5s 0.4s 1 forwards ease-out;
}
@-moz-keyframes plist02 {
  0% {
    top: 100%;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
    top: -95%;
  }
}
@-webkit-keyframes plist02 {
  0% {
    top: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    top: -95%;
  }
}
@keyframes plist02 {
  0% {
    top: 100%;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    top: -95%;
  }
}
.phones ul:nth-of-type(3) {
  top: 100%;
}
.phones ul:nth-of-type(3).list {
  -moz-animation: plist03 2.5s 0.8s 1 forwards ease-out;
  -webkit-animation: plist03 2.5s 0.8s 1 forwards ease-out;
  animation: plist03 2.5s 0.8s 1 forwards ease-out;
}
@-moz-keyframes plist03 {
  0% {
    top: 200%;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0);
    transform: scale(0);
    top: -90%;
  }
}
@-webkit-keyframes plist03 {
  0% {
    top: 200%;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    top: -90%;
  }
}
@keyframes plist03 {
  0% {
    top: 200%;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    top: -90%;
  }
}
.phones li {
  width: 600px;
  height: 1234px;
  margin: 0 300px;
  background-size: 100%;
  display: inline-block;
  background-image: url("../img/phone-app-2.png");
  background-repeat: no-repeat;
  opacity: 0;
}
.phones li:nth-of-type(8) {
  opacity: 1;
}

.growth {
  position: absolute;
  z-index: 25;
  width: 100%;
  top: 5%;
}
.growth .counter {
  text-align: center;
  font-size: 80px;
  padding-top: 230px;
  color: #FFF652;
}
.growth span {
  position: relative;
  width: 1500px;
  height: 0px;
  font-size: 0;
  background-size: 100%;
  background-position: center bottom;
  display: block;
  margin: auto;
  top: 1000px;
  background-image: url("../img/growth.svg");
  background-repeat: no-repeat;
}
.growth span.show-g {
  -moz-transition: 2.8s;
  -o-transition: 2.8s;
  -webkit-transition: 2.8s;
  transition: 2.8s;
  -moz-transition-delay: 1.6s;
  -o-transition-delay: 1.6s;
  -webkit-transition-delay: 1.6s;
  transition-delay: 1.6s;
  width: 350px;
  height: 218px;
  top: 0;
}

.fade {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.zfront {
  z-index: 40;
}

@media only screen and (max-width: 568px) {
  body {
    background-size: auto 100%;
  }

  #fullpage {
    z-index: 100;
  }

  .nav {
    z-index: 150;
  }

  .section .title h1 {
    font-size: 28px;
    line-height: 55px;
  }
  .section .title h3 {
    font-size: 19px;
  }

  .phone {
    -moz-transform: translateY(-100px) scale(0.75);
    -ms-transform: translateY(-100px) scale(0.75);
    -webkit-transform: translateY(-100px) scale(0.75);
    transform: translateY(-100px) scale(0.75);
  }
  .phone.sc-02, .phone.sc-03 {
    width: 250px;
    height: 514px;
    left: 50%;
    top: 40%;
    margin-left: -125px;
    margin-top: 0px;
    -moz-transform: translateY(-210px) scale(0.85);
    -ms-transform: translateY(-210px) scale(0.85);
    -webkit-transform: translateY(-210px) scale(0.85);
    transform: translateY(-210px) scale(0.85);
  }
  .phone.sc-03:before {
    width: 37px;
    height: 37px;
    background-size: 37px 37px;
    background-position: center;
    top: 208px;
    left: 131px;
    -moz-animation: apps02 0.5s 2.4s 1 forwards ease-out;
    -webkit-animation: apps02 0.5s 2.4s 1 forwards ease-out;
    animation: apps02 0.5s 2.4s 1 forwards ease-out;
  }
  @-moz-keyframes apps02 {
    0% {
      opacity: 0;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -moz-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -moz-border-radius: 7px;
      border-radius: 7px;
      -moz-transform: scale(1);
      transform: scale(1);
    }
  }
  @-webkit-keyframes apps02 {
    0% {
      opacity: 0;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes apps02 {
    0% {
      opacity: 0;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .phone .game.show {
    width: 215px;
    height: 380px;
    margin: 67px 0 0 17px;
  }

  .phones ul {
    text-align: center;
    position: absolute;
    font-size: 0;
    left: 50%;
    width: 250px;
    height: 514px;
    top: 40%;
    margin-left: -125px;
    margin-top: -210px;
    -moz-transform: translateY(0px) scale(0.85);
    -ms-transform: translateY(0px) scale(0.85);
    -webkit-transform: translateY(0px) scale(0.85);
    transform: translateY(0px) scale(0.85);
  }
  .phones ul.list {
    display: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  .phones ul:nth-of-type(1) {
    display: block;
  }
  .phones ul:nth-of-type(1) li {
    width: 250px;
    height: 514px;
    margin: 0;
    display: none;
  }
  .phones ul:nth-of-type(1) li:nth-of-type(1) {
    display: block;
    opacity: 1;
  }

  .growth {
    top: 0;
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  .growth span {
    background-position: center bottom;
  }
  .growth span.show-g {
    width: 100%;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }

  .section {
    width: 100%;
    overflow: hidden;
  }
  .section.section-05 {
    color: #fff;
    opacity: 0.9;
  }
  .section.section-05 .title {
    top: 50%;
  }
  .section.section-05 .title.slide {
    -moz-animation: none;
    -webkit-animation: none;
    animation: none;
  }
  .section.section-06 .says {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  .section.section-06 li {
    display: inline-block;
    width: 100%;
    white-space: normal;
  }
  .section.section-07 .contact {
    width: 80%;
  }
  .section.section-07 .contact ul li {
    font-size: 16px;
  }
}
